@font-face {
    font-family: 'vivaldid_clregular';
    src: url('/wp-content/themes/gallery/assets/fonts/vivaldi.ttf');
    src: url('/wp-content/themes/gallery/assets/fonts/vivaldi.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/gallery/assets/fonts/vivaldi.woff2') format('woff2'),
    url('/wp-content/themes/gallery/assets/fonts/vivaldi.woff') format('woff'),
    url('/wp-content/themes/gallery/assets/fonts/vivaldi.ttf') format('truetype'),
    url('/wp-content/themes/gallery/assets/fonts/vivaldi.svg#vivaldid_clregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SitkaSmall-Italic';
    src: url('/wp-content/themes/gallery/assets/fonts/SitkaSmall-Italic.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/gallery/assets/fonts/SitkaSmall-Italic.woff') format('woff'),
    url('/wp-content/themes/gallery/assets/fonts/SitkaSmall-Italic.ttf') format('truetype'),
    url('/wp-content/themes/gallery/assets/fonts/SitkaSmall-Italic.svg#SitkaSmall-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #253449;
    font-family: SitkaSmall-Italic !important;
    padding-top: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pluso{
    margin: 15px auto;
    width: 100%;
    text-align: center !important;
}
.to_left_background{
    background-position: -2300px center, center !important;
    -webkit-transition: background .9s;
    -moz-transition: background .9s;
    -o-transition: background .9s;
    transition: background .9s;
}

.to_right_background{
    background-position: 2300px center,center !important;
    -webkit-transition: background .9s;
    -moz-transition: background .9s;
    -o-transition: background .9s;
    transition: background .9s;
}

.hidden_div{
    visibility: hidden;
}
.chosen-container{
    margin-bottom: 10px;
}
/**
Header and Footer
**/
.main_container{
    position: relative;
    background-color: rgba(228, 201, 142, 0.8);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #2B3449;
}

.main_container .main_header{
    box-sizing: border-box;
    position: relative;
}

.main_container .footer {
    background-image: url("/wp-content/themes/gallery/assets/images/horizontal.png");
    background-repeat: no-repeat;
    background-position:center 0px;
    background-size: 100% 9px;
}

.main_container .footer > .container{
    padding: 15px 25px;
}

.main_container .footer .footer_logo{
    background-image: url("/wp-content/themes/gallery/assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:60% ;
    height: 100px;
}

.main_container .footer ul{
    margin:20px 0px;
    overflow:hidden;
}

.main_container .footer li{
    line-height:1.5em;
    float:left;
    display:inline;
    color: #A39775;
    list-style: none;
    width:33.333%;
}

.main_container .footer li a{
    color: #665A3F;
}

@media screen and (max-width: 768px) {
    .main_container .footer li{
        width: 100% !important;
        text-align: center;
    }
}
/**
Header and Footer
**/

.main_container .main_header  div{
    height: 120px;
    box-sizing: border-box;
}

.main_container .main_header  .logo{
    background-image: url("/wp-content/themes/gallery/assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main_container .main_header > .border_bottom .text{
    font-size: 30px;
    font-family: vivaldid_clregular !important;
    text-align: center;
    height: 120px;
    box-sizing: border-box;
    line-height: 120px;
}

.main_container .main_header > .border_bottom .border{
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    background-image: url("/wp-content/themes/gallery/assets/images/horizontal_blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -63px;
}

.main_container .sidebar{
    border-style: solid;
    border-width: 0px 15px 0px 0px;
    -moz-border-image: url("/wp-content/themes/gallery/assets/images/vertical.png") 27 fill;
    -webkit-border-image: url("/wp-content/themes/gallery/assets/images/vertical.png") 27 fill;
    -o-border-image: url("/wp-content/themes/gallery/assets/images/vertical.png") 27 fill;
    border-image: url("/wp-content/themes/gallery/assets/images/vertical.png") 27 fill;
    background-image: url("/wp-content/themes/gallery/assets/images/Brushes.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 200px;
    background-size: 300px 200px;
}

.main_container .sidebar li{
    font-size: 20px;
    list-style: none;
    cursor: pointer;
    color: #623B5B;
}

.main_container .sidebar li.cat-item{
    font-size: 18px;
    list-style: none;
    cursor: pointer;
    color: #363D4D;
}

.main_container .sidebar li.cat-item a{
    font-size: 18px;
    list-style: none;
    cursor: pointer;
    color: #363D4D;
}

.main_container .sidebar li.cat-item.selected a{
    font-size: 18px;
    list-style: none;
    cursor: pointer;
    color: #623B5B;
}
@media screen and (max-width: 991px) {
    .main_container .sidebar{
        text-align: center;
        background-image: url("") !important;
        border: none !important;
        padding-bottom: 0px !important;
        height: auto !important;
    }
}

.main_container .wrapper{

}

.main_container .wrapper .category_list_home .cat_item{
    height: 220px;
    padding: 15px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 140px;
    color: #494B54;
    text-align: center;
    font-size: 18px;
    padding-top: 194px;
    background-origin:border-box;
    text-overflow: ellipsis;
}

.main_container .wrapper .category_list_home .cat_item .cat_name{
    height: 25px;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main_container .wrapper .category_list_home .cat_item:hover{
    border-top: 1px solid black;
    position: relative;
}
.main_container .wrapper .category_list_home .cat_item:hover:after, .main_container .wrapper .category_list_home .cat_item:hover:before {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(#000, transparent);
    background-image: -moz-linear-gradient(#000, transparent);
    background-image: -o-linear-gradient(#000, transparent);
    background-image: linear-gradient(#000, transparent);
    top: -1px;
    bottom: -1px;
    width: 1px;
}
.main_container .wrapper .category_list_home .cat_item:hover:before {
    left: 0px;
}
.main_container .wrapper .category_list_home .cat_item:hover:after {
    right: 0px;
}


/*Categiries page*/
.main_container .wrapper .category_main_header{
    margin: 10px 15px 15px 15px;
}

.main_container .wrapper .category_main_header img{
    float: left;
    margin: 0px 15px 5px 0px;
    /*display: none;*/
}

.main_container .wrapper .category_main_header h1{
    font-size: 17px;
    color: #623B5B;
    text-transform: uppercase;
    padding: 0px 0px 5px 5px;
    text-align: center;
}
.main_container .wrapper .category_main_header span{
    font-size: 14px;
    color: #494B54;
    padding: 0px 0px 5px 5px;
}





.main_container .wrapper .category_list_items{

}

.main_container .wrapper .category_list_items .item{
    padding: 0px !important;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.main_container .wrapper .category_list_items .item:nth-child(3n+1){
    clear: left;
}

.main_container .wrapper .category_list_items .item:hover{
    background-image: url("/wp-content/themes/gallery/assets/images/Uxxankyun.png");

}


.main_container .wrapper .category_list_items .item .content{
    padding: 20px;
}
.main_container .wrapper .category_list_items .item .content .image{
    height: 150px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin:border-box;
}

.main_container .wrapper .category_list_items .item .content .title{
    font-size: 14px;
    text-align: center;
}
.main_container .wrapper .category_list_items .item .content .info{
    text-transform: none !important;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
.main_container .wrapper .category_list_items .item .content .actions{
    font-size: 14px;
    text-align: center;
}
.main_container .wrapper .category_list_items .item .content .actions span{
    padding: 3px 7px;
}

.main_container .wrapper .category_list_items .item .content .info p{
    margin: 0px;
    padding: 3px;
}



/*Single post*/

.main_container .wrapper .single_item{
    padding-top: 20px;
}
.main_container .wrapper .single_item p{
    text-align: center;
}

.main_container .wrapper .single_item .left_side {
    padding: 40px;
    text-align: center;
}

.main_container .wrapper .single_item .left_side img{
    width: 100%;
    height: auto;
}

.main_container .wrapper .single_item .left_side img.baguette_frame{
    position: relative;
    border: 30px solid #40c4c8 ;
    /*padding: 20px;*/
    -moz-border-image: url(http://htmlbook.ru/files/images/css/css_border-image-1.png) 30 round round;
    -webkit-border-image: url(http://htmlbook.ru/files/images/css/css_border-image-1.png) 30 round round;
    -o-border-image: url(http://htmlbook.ru/files/images/css/css_border-image-1.png) 30 round round;
    border-image: url(http://htmlbook.ru/files/images/css/css_border-image-1.png) 30 round round;

}

.main_container .wrapper .single_item .right_side{
    text-align: center;
}

.main_container .wrapper .single_item .right_side .description{
    text-align: left;
    color: #2B3449;
    font-size: 14px;
    word-break: break-all;
    word-break: break-word;
}

.main_container .wrapper .single_item .right_side .description *{
    text-align: left;
}

.main_container .wrapper .single_item .right_side .description a{
    padding: 0px 2px;
}

.main_container .wrapper .single_item .right_side .description hr{
    border-color: #2B3449;
    margin: 10px 0px;
}


.main_container .wrapper .single_item .right_side  .buy{
    margin: 25px 0px;
}

.main_container .wrapper .single_item .right_side  .buy button{
    width: 200px;
}



.main_container .wrapper .single_item .content_description{
    padding: 20px;
}





/**Search form*/

.main_container .wrapper .search_form{
    padding:0px 20px;
}

.main_container .wrapper .search_form .custom_search{

}


.main_container .wrapper .search_form .custom_search .right_side{
    float: right;
}


.main_container .wrapper .search_form .custom_search .right_side .search_field{
    float: right;
}



.main_container .wrapper .search_form .custom_search .right_side .submit_simple_search{
    cursor: pointer;
}



.main_container .wrapper .search_form .open_form {
    padding: 10px 0px 10px 0px;
    float: right;
}



.main_container .wrapper .search_form .advanced_search {
    padding: 10px 0px 10px 0px;
    clear: both;
}


.main_container .wrapper .search_form .advanced_search .select_year{
    width: 90px;
    display: inline-block;
    margin: 0px 7px;
}


.main_container .wrapper .search_form .advanced_search .submit_advanced_search{
    width: 120px;
    margin: 10px auto;
    display: inline-block;
    background-color: #DFAA44;
    border-color: #DFAA44;
}

.main_container .wrapper .search_form .advanced_search .submit_advanced_search:hover{
    background-color: rgba(223, 170, 68, 0.83);
}

.contact_us_wrap{
    width: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
.contact_us_wrap .container{
    width: 100%;
}

.contact_us_wrap .contact-form-input{
    width: 100%;
    float: left;
    height: 40px;
    border-radius: 5px;
    margin: 3px 0;
}

.contact_us_wrap textarea{
    height: 150px !important;
}

.contact_us_wrap input[type=submit]{
    float: right;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    background-color: rgba(223, 170, 68, 0.85);
    border: 1px solid #c7973d;
    color: #ffffff;
    -webkit-box-shadow: 0 0 5px 0 rgba(152, 116, 46, 0.93);
    -moz-box-shadow: 0 0 5px 0 rgba(152, 116, 46, 0.93);
    box-shadow: 0 0 5px 0 rgba(152, 116, 46, 0.93);
    margin: 5px 0;
    clear: both;
}

.error{
    width: 100%;
    height: 40px;
    margin: 3px 0;
    float: left;
    border-radius: 5px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    color: rgba(225, 16, 4, 0.85);
    background-color: rgba(255,255,255, 0.3);
    -webkit-box-shadow: 0 0 5px 0 rgba(152, 116, 46, 0.93);
    -moz-box-shadow: 0 0 5px 0 rgba(152, 116, 46, 0.93);
    box-shadow: 0 0 5px 0 rgba(152, 116, 46, 0.93);
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.contact_us_wrap .border{
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    background-image: url("/wp-content/themes/gallery/assets/images/horizontal_blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 0px !important;
}
.contact_us_wrap h3{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
}

.remove_from_basket{
    cursor: pointer;
}
.add_to_basket{
    cursor: pointer;
}

.basket{
    position: fixed;
    top: 0px;
    height: 40px;
    width: 80px;
    background-color: #2B3449;
    z-index: 9999;
    opacity: 0.6;
    transition: opacity 1s;
    cursor: pointer;
    color: white;
    line-height: 40px;
    text-align: center;
}
.slider{
    position: fixed;
    top: 50%;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    background-color: #2B3449;
    z-index: 9999;
    opacity: 0.6;
    transition: opacity 1s;
    cursor: pointer;
    color: white;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
}

.slider:hover{
    opacity: 1;
}

.slider span{
    font-size: 40px;
    line-height: 60px;
}

.slider.prev{
    left: 15px;
}

.slider.next{
    right: 15px;
}

.basket .basket_count{
    display: block;
    font-size: 16px;
    float: right;
    width: 40px;
    height: 40px;
    padding-left: 5px;
    line-height: 40px;
    text-align: left;
}

.basket .glyphicon:before{
    font-size: 20px;
}
.basket .glyphicon{
    height: 40px;
    line-height: 40px;
}
.basket:hover{
    opacity: 1;
}

.baguette_item_info{
    padding: 25px 15px;
    font-size: 16px;
    font-style: italic;
    color: #2B3449;
}

.baguettes_slider{
    width: calc(100% - 0px);
    float: left;
    height: 150px;
    box-sizing: border-box;
    margin-top: 25px;
    overflow: hidden;
}

.baguette_info{
    width: 80px;
    float: left;
    height: 150px;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}

.baguettes_slider .baguette_item{
    height: 150px;
    width: 150px;
    /*border: 1px solid #2B3449;*/
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}